{{template "layout" .}}
{{define "main"}}

    <form id="myForm" action="/register" method="post">
        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Signup</h1>
            
        </div>
        <!-- Single Page Header End --> 
        
        <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="mb-4">User details</h1>
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-12">
                        <div class="row">
                            <div class="col-md-12 col-lg-3">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Username<sup>*</sup></label>
                                    <input type="text" id="userName" name="userName" class="form-control" autofocus value="" required>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-3">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Password<sup>*</sup></label>
                                    <span class="toggle-password" onclick="togglePassword()">
                                        <i class="fa-solid fa-eye" id="eyeIcon"></i>
                                    </span>
                                    <input type="password" class="form-control" id="password" name="password" pattern="[a-zA-Z0-9]{8,}" title="Password minimal 8 karakter, hanya huruf dan angka" required>
                                    
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-3">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Email Address<sup>*</sup></label>
                                    <input type="email" id="e" name="e" class="form-control" value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-3">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">First Name<sup>*</sup></label>
                                    <input type="text" id="firstName" name="firstName" class="form-control" value="" required>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-3">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Last Name<sup>*</sup></label>
                                    <input type="text" id="lastName" name="lastName" class="form-control" value="" required>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-3">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Mobile<sup>*</sup></label>
                                    <input type="text" id="telepon" name="telepon" class="form-control" value="" required>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-3">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Postcode/Zip<sup>*</sup></label>
                                    <input type="text" id="kodePos" name="kodePos" class="form-control" value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <label class="form-label my-3">Address <sup>*</sup></label>
                                <input type="text" id="alamat" name="alamat" class="form-control" value="" required>
                            </div>
                            <div class="col-md-12 col-lg-3">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Country<sup>*</sup></label>
                                    <input type="text" id="negara" name="negara" class="form-control" value="" required>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-3">
                                <div class="form-item w-100">
                                    <label class="form-label my-3">Town/City<sup>*</sup></label>
                                    <input type="text" id="kota" name="kota" class="form-control" value="" required>
                                </div>
                            </div>
                        </div>
                        <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                            <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign Up Page End -->
     </form>

     <script>
        function togglePassword() {
            const passwordInput = document.getElementById("password");
            const eyeIcon = document.getElementById("eyeIcon");
            const type = passwordInput.type === "password" ? "text" : "password";
            passwordInput.type = type;

            eyeIcon.classList.toggle("fa-eye");
            eyeIcon.classList.toggle("fa-eye-slash");
        }
     </script>
{{end}}